@import './background.module.';

/* .return{
    @include border();
    width: 100px; height: 30px;
    background-color: #1A1A1A;
    text-align: center;
    margin: auto;
    margin-top: -80px;
    margin-right: 40px;
    font-size: 15px;
    line-height: 2;
    font-weight: 100;
    color: #616161;

    &:hover{
        color: #fff;
        cursor: pointer;
    }
} */

.item{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%; height: 500px;
    /* width: 1020px; */
    margin: auto;
    margin-top: 80px;
    color: #616161;
    z-index: 2;
    background-color: #1A1A1A;
    @include border();
    text-align: center;
    font-size: 16px;


    .video{
        width: 60%; height: 88%;
        max-width: 600px;
        
        /* :first-child:hover{
            filter: invert(100%);
        } */

        .fotoInicial{
            border-radius: 20px;
        }

        .photos{
            display: flex;
            justify-content: space-between;

            img:hover{
                cursor: pointer;
            }
        }
    }

    .productInfos{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
        width: 35%; height: 88%;

        .buttonBuy{
            width: 90%; height: 80px;
            background-color: #161616;
            @include border();
            margin: 0 auto;
            font-size: 26px;
            line-height: 3;

            &:hover{
                cursor: pointer;
                color: #fff;
            }
        }

        .description{
            text-align: start;
            font-weight: 600;
            line-height: 1.4;
            height:230px;
        }

        .scriptName{
            font-size: 30px;
            color: #909090;
            font-weight: 100;
        }

        .scriptPrice{
            font-size: 30px;
            color: #909090;
            line-height: 2;
            font-weight: 100;
        }
    }
    
}

.moreDetails{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    color: #616161;

    div{
        font-size: 25px;
        color: #909090;
        font-weight: 100;
        text-align: center;
    }

    .characteristics{
        width: 50%;
        margin: auto;
        font-size: 17px;
        text-align: start;
    }

    iframe{
        width: 80%; height: 470px;
        max-width: 900px;
        margin-bottom: 50px;
        margin-top: 30px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .backtoTop{
        width: 35%;
        margin: auto;
        height: 30px;
        margin-top: 50px;
        margin-bottom: -50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div:hover{
            cursor: pointer;
            color: #fff;
        }
    }
}

@media (max-width: 1750px) {
    .item{
        flex-direction: column;
        align-items: center;
        height: 850px;
    }

    .video{
        height: 400px !important;
    }

    .productInfos{
        margin-top: -100px;
        width: 80% !important;
        height: 330px !important;
    }

    .fotoInicial{
        width: 100%; height: 300px;
    }

    .photos{
        justify-content: center !important;
        img{
            width: 25%;
        }
    }
    
    .moreDetails{
        iframe{
            max-width: 50%;
        }

        p{
            width: 80%;
        }

        .backtoTop{
            div{
                font-size: 15px;
            }
        }
    }


}


@media (max-width: 1024px) {
    .item{
        width: 63%;
        font-size: 12px;

        .video{
            .photos{
                display: none;
            }
        }

        .scriptName{
            font-size: 20px !important;
            margin-top: -90px;
        }
    
        .scriptPrice{
            font-size: 20px !important;
        }
    }

    .moreDetails{
        .characteristics{
            font-size: 13px;
        }

        iframe{
            height: 250px;
        }
    }

    
}